.header {
  /* width: 100vw; */
  height: 5vh;
  display: flex;
  flex-direction: row;
  font-size: 1.5vw;
  margin-top: 1.5vw;
}

.topLinks {
  text-align: right;
  margin-left: auto;
  /* margin-right: 7.5vw; */
}

u {
  margin: 15px;
  color: black;
}

u:hover {
  color: #cc99ff;
}

.todo {
  background: #eee8f6;
  border-radius: 25px;
  margin: 15px 0 15px 0;
  padding: 10px 45px;
  /* margin-left: 7.5vw; */
  /* margin-right: 7.5vw; */
  display: flex;
  flex-direction: row;
}

.todo:hover {
  background: #05050510;
}

.todo-complete {
  opacity: 0.5;
  text-decoration: line-through;
}

/* .todo h3 {
  align-items: center;
  justify-content: space-between;
  font-size: 1.2vw;
}

.todo p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1vw;
}

.todo input {
  width: 1vw;
  height: 1vw;
  margin-right: 25px;
} */

.times {
  text-align: center;
  padding: 40px 0;
  margin-left: auto;
  margin-right: 0;
  font-style: italic;
  font-weight: 200;
  color: #2c2c2c;
  font-size: 1.1vw;
}

.task-btn {
  display: flex;
  flex-direction: row;
}

.btn {
  display: inline-block;
  background: none;
  margin: 0;
  border: none;
  font-size: 1.2em;
  margin-left: auto;
  margin-right: 0;
}

.gr-add path {
  stroke: gray;
}

.gr-add {
  margin: 0 0.5vw;
  height: 1.5em;
  width: 1.5em;
}

.gr-add:hover {
  opacity: 0.5;
}

.add-form {
  margin-bottom: 40px;
}

.add-form-child {
  margin: 0 auto;
  width: 50%;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
  font-size: 1.2vw;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 1vw 0;
  padding: 3px 7px;
  font-size: 1.2vw;
}

.form-control textarea {
  width: 100%;
  height: 40px;
  margin: 1vw 0;
  padding: 3px 7px;
  font-size: 1.2vw;
  font-family: inherit;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1vw 0;
}

.form-control-check label {
  flex: 1;
  font-size: 1.1vw;
}

.form-control-check input {
  flex: 2;
}

.btn-block {
  display: block;
  width: 100%;
  background: black;
  color: white;
  height: 5vh;
  border-radius: 1vw;
  margin-top: 2vw;
}
