.header {
  /* width: 100vw; */
  height: 5vh;
  display: flex;
  flex-direction: row;
  font-size: 1.5vw;
  margin: 0;
  margin-top: 2vw;
}

.topLinks {
  text-align: right;
  margin-left: auto;
  /* margin-right: 7.5vw; */
}

u {
  margin: 15px;
  color: black;
}

u:hover {
  color: #9c50b6;
}

.todo {
  background: #eee8f6;
  border-radius: 25px;
  margin: 0 0 1.5vw 0;
  padding: 10px 45px;
  /* margin-left: 7.5vw; */
  /* margin-right: 7.5vw; */
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo:hover {
  background: #05050510;
}

.todo-complete {
  /* opacity: 0.7; */
  text-decoration: line-through;
  margin: 0 0 1.5vw 0;
}

.times {
  text-align: center;
  padding: 1vw 2vw 0 0;
  /* margin-left: auto;
  margin-right: 0;
  margin-bottom: 3vw; */
  font-style: italic;
  font-weight: 200;
  color: #2c2c2c;
  font-size: 1vw;
  position: absolute;
  top: 0;
  right: 0;
  /* width: 13vw; */
}

.task-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home-btn {
  background: none;
  margin: 0;
  border: none;
  font-size: 1.1vw;
  margin-left: auto;
  margin-right: 0;
}

.home-btn:focus {
  outline: none;
}

.home-btn:active {
  transform: scale(0.98);
}

.home-btn:hover {
  opacity: 0.85;
  cursor: pointer;
}

.delete {
  background: black;
  color: white;
  width: 9vw;
  height: 2.2vw;
  border-radius: 1vw;
}

.delete:hover {
  opacity: 45%;
}

.gr-add path {
  stroke: gray;
}

.gr-add {
  margin: 0 0.5vw;
  height: 1.5em;
  width: 1.5em;
}

.gr-add:hover {
  opacity: 0.5;
  cursor: pointer;
}

.hi-minus path {
  stroke: gray;
}

.hi-minus {
  margin: 0 0.5vw;
  height: 1.5em;
  width: 1.5em;
}

.hi-minus:hover {
  opacity: 0.5;
}

.add-form {
  margin-bottom: 40px;
}

.add-form-child {
  margin: 0 auto;
  width: 50%;
}

.form-control-task {
  margin: 1vw 0;
}

.datetime-picker {
  margin: 1vw 0;
}

.task {
  margin: 0;
}

.form-control-task label {
  display: block;
  font-size: 1vw;
}

.datetime-picker label {
  display: block;
  font-size: 1vw;
}

.form-control-task input {
  width: 100%;
  height: 2vw;
  padding: 0.1vw 0.5vw;
  font-size: 1vw;
}

.form-control-task textarea {
  width: 100%;
  height: 3vw;
  padding: 0.5vw 0.5vw;
  font-size: 1vw;
  font-family: inherit;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1vw 0;
}

.form-control-check label {
  flex: 1;
  font-size: 1vw;
}

.form-control-check input {
  flex: 2;
}

.btn-block {
  display: block;
  width: 100%;
  background: black;
  color: white;
  height: 5vh;
  border-radius: 1vw;
  margin-top: 2vw;
}

.ongoing-task {
  height: 1.3vw;
  width: 1.3vw;
  padding: 0.25vw;
}

.ongoing-task:hover {
  color: red;
  cursor: pointer;
}

.ongoing-task polyline:hover {
  stroke: red;
  cursor: pointer;
}

.trash {
  height: 1.2vw;
  width: 1.2vw;
}

.todo-icons {
  display: inline-block;
  margin: 0 0.5vw 0.5vw 0;
  position: absolute;
  bottom: 0;
  right: 0;
}

.im-undo {
  height: 1.1vw;
  width: 1.1vw;
  padding: 0.25vw;
}

.im-undo:hover {
  color: red;
  cursor: pointer;
}

.rbc-calendar {
  height: 60vw !important;
  margin-bottom: 3vw;
}

.rbc-toolbar {
  margin-top: 4.5vw;
  margin-bottom: 2vw !important;
}

.rbc-today {
  background-color: #cbc3e3 !important;
  /* opacity: 30%; */
}

.rbc-off-range-bg {
  background: #05050510 !important;
}

.rbc-toolbar button.rbc-active {
  background: #05050510 !important;
}

.rbc-toolbar-label {
  font-size: 1.5vw;
  font-weight: bold;
}

.rbc-row-segment .rbc-event-content {
  background: #9c50b6;
}

.rbc-event {
  background-color: #9c50b6 !important;
  border: 1px solid #9c50b6;
}

.rbc-events-container {
  margin-right: 0 !important;
}

.rbc-day-slot .rbc-event-content {
  font-size: 80%;
  line-height: normal !important;
}

.rbc-date-cell {
  padding-bottom: 5px;
}

.react-datetime-picker__wrapper {
  background-color: white;
  font-size: 1vw;
}

.react-date-picker__wrapper {
  background-color: white;
  font-size: 1vw;
}

.auth-buttons {
  position: absolute;
  top: 0;
  right: 0;
}

.auth-button {
  background-color: #f3efff;
  border: none;
  margin: 0.7vw 0.5vw 1vw 0.1vw;
  color: darkgray;
}

.auth-button:hover {
  cursor: pointer;
}

.summary {
  color: darkgray;
  padding-bottom: 2vw;
  text-align: center;
}

span {
  padding-right: 5vw;
}

.estimated-time-inpt {
  width: 25% !important;
}

.estimated-time-lbl {
  display: inline-block !important;
  font-size: 1vw !important;
  padding-left: 1vw;
  padding-right: 1vw;
}

.estimate {
  display: block;
  width: 100%;
}

.current-title {
  background-color: white;
  border: #2c2c2c;
  border-radius: 50px;
  padding: 0.5vw;
  font-style: italic;
  font-weight: 700;
  text-align: center;
  border-style: solid;
  border-width: 1px;
}
